.avatar-section {
  width: 80vw;
  margin: auto;
}

.avatar-container {
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0rem;
  align-items: center;
  justify-content: center;
  margin: 4rem auto 4rem auto;
  text-align: center;
}

.profile-img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0px auto;
  margin-bottom: 1.5rem;
}

.profile-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: drop-shadow(10px -5px 2px var(--clr-primary-5));
  margin-top: 20px;
}

.quote-icon {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background: var(--clr-primary-5);
  display: grid;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  transform: translateY(25%);
  place-items: center;
}

.avatar-container > h4 {
  margin-top: 40px;
  font-weight: 400;
  font-style: italic;
  text-transform: none;
  font-family: Montserrat;
  line-height: 1.5rem;
}

@media screen and (min-width: 992px) {
  .avatar-container {
    grid-template-columns: 1fr 2fr;
  }

  .avatar-container > h4 {
    line-height: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .avatar-section {
    height: 40vh;
  }

  .avatar-container h4 {
    margin-top: 30px;
    font-size: 0.7rem;
  }

  .profile-img-container {
    width: 100px;
    height: 100px;
  }
  .avatar-container {
    margin: 2rem auto 0px auto;
  }
}
