/*
=============== 
Jobs
===============
*/

.job-section {
  width: 80vw;
  margin: 3rem auto 0 auto;
  padding-bottom: 3rem;
}

.job-center {
  width: 80vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4rem;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.job-btn {
  border: transparent;
  background: transparent;
  font-size: 1.25rem;
  letter-spacing: var(--spacing);
  margin: 0 0.5rem;
  padding: 0.25rem 0;
  line-height: 1;
  text-transform: uppercase;
  outline-color: var(--clr-primary-10);
  cursor: pointer;
}

.job-btn:hover {
  color: var(--clr-primary-5);
  box-shadow: 0 2px var(--clr-primary-5);
}

.active-btn {
  color: var(--clr-primary-5);
  box-shadow: 0 2px var(--clr-primary-5);
}

.job-info > h3 {
  font-weight: 400;
}

.job-info > h4 {
  background: var(--clr-grey-9);
  display: inline-block;
  padding: 0.4rem 0.75rem;
  text-transform: uppercase;
  border-radius: var(--radius);
  border: transparent;
}

.job-desc {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  align-items: center;
  margin-bottom: 1.25rem;
}

.job-icon {
  color: var(--clr-primary-5);
}

.job-desc p {
  margin-bottom: 0;
  color: var(--clr-grey-3);
}

@media screen and (min-width: 992px) {
  .job-center {
    width: 90vw;
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 4rem;
  }
  .btn-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .job-btn {
    margin-bottom: 2rem;
  }
  .active-btn {
    box-shadow: -2px 0 var(--clr-primary-5);
  }
  .job-btn:hover {
    box-shadow: -2px 0 var(--clr-primary-5);
  }
}

@media screen and (max-width: 450px) {
  .job-section {
    height: auto;
    margin-bottom: 5rem;
  }
  .job-center {
    width: 75vw;
  }
  .job-btn {
    font-size: 85%;
  }

  /* .job-info > h3 {
    font-size: 90%;
  } */

  .job-info > h4 {
    font-size: 80%;
  }
}
